body {
  background-color: #EBEBEB;
  color: #3f3f3f;
  font-family: 'Merriweather', serif;
}

h1 {
  color: #448299;
  font-size: 20px;
}

h2 {
  font-weight: 200;
  font-size: 20px;
}

p {
  font-size: 12px;
}

h3 {
  font-weight: 500;
}

h2, h3 {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #6B6B6B;
  text-decoration: none;
  font-size: 14px;
}
 a:hover {
  color: #2870A0;
  text-decoration: none;
 }

.container {
  width: 700px;
  margin: 0 auto;
}

@media (max-width: 850px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 650px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 350px;
  }
}

.card {
  background-color: white;
  padding: 15px;
  margin: 15px auto;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #7f7f7f;
}

.img_circle {
  border-radius: 50%;
}

.img-cover {
  border-radius: 7px;
  border: 1px solid #7f7f7f;
}

.border-primary {
  border: 4px solid #448299;
}

.text-center {
  text-align: center;
}

.line-height-sm {
  line-height: 10px;
}

.card-title {
  font-weight: 400;
  font-size: 24px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 0px;
}

#sidebar {
  position: fixed;
  width: 150px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #3f3f3f;
}

#sidebar .fa {
  margin: 30px;
}

#sidebar ul {
  padding-left: 0px;
}

#sidebar a:hover {
  color: white;
}

#sidebar a {
  color: #F0EAD6;
}

#page-content {
  margin-left: 150px;
}
